.zx-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  
  .iconify {
    font-style: normal;
  }
  
  // 悬停效果
  &:hover {
    .iconify {
      transition: color 0.3s ease;
    }
    
    svg {
      transition: fill 0.3s ease;
    }
  }
}